<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ash</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="/css/A01.css">	
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">A02 Atkuri</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a class="navbar-brand" href="home">Home</a></li>
				<li><a class="navbar-brand" href="About">About</a></li>				
				<li><a class="navbar-brand" href="Guess">Guess</a></li>
				<li><a class="navbar-brand" href="contact">Contact</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">Guestbook
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="guestbook">Guestbook</a></li>
							<li><a href="new-entry">New-entry</a></li>
						</ul>
				</li>
			</ul>
		</div>
	</nav>
			
	<div class="container">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<img src="img/Ash_prf.jpg" alt="profile picture" class="img-circle" height="120" width="120" style="margin-left:15%"/><br>
			    <div class="container">
						<h2>Ashok Atkuri</h2>
						<p><i class="glyphicon glyphicon-lock"></i> Student</p>
						<p><i class="glyphicon glyphicon-home"></i> Maryville, MO</p>
						<p><i class="glyphicon glyphicon-envelope"></i> ashok.atkuri@gmail.com</p>
						<p><i class="glyphicon glyphicon-phone"></i> 612-475-6004</p>
				</div>						
			</div>
			<div class="col-md-8 col-xs-6">			  
					<img src="img/welcome.jpg" />
				</div>
						
		</div>
	</div>
	<!-- /container -->
	<div class="row well">
	  <footer>			
			Copyright 2017. All rights reserved.									
	  </footer>	  
	</div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
</body>

</html>
